:root { 
    scroll-behavior: smooth; 
}

img, video {
    display: block;
    max-width: 90%;
    max-height: 80vh;
    margin: auto;
    margin-bottom: 5%;
    background-color: #6d92a7;
}

.last-image {
    margin-bottom: 0;
}

.clickable:hover {
    opacity: 70%;
}

#nav-bar {
    position: sticky;
    margin-top: 5px;
    height: 55px;
    top: 0;
    padding: 3px;
    padding-bottom: 35px;
    overflow: hiddden;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
}

#header:hover {
    color: #6d92a7;
}

#nav-bar:hover {
    background-color: rgba(255, 255, 255, 1.0);
}

#folder-one {
    border-top: 1px solid black;
    color: red;
}

#f-one {
    color: red;
}

#f-two, .blue-text {
    color: blue;
}

#f-three, .green-text {
    color: green;
}

#f-four, .orange-text {
    color: orange;
}



img:hover, video:hover {
    outline: 1px dashed black;
}

.f-one-frame:hover {
    outline-color: red;
}
.f-two-frame:hover {
    outline-color: blue;
}
.f-three-frame:hover {
    outline-color: green;
}
.f-four-frame:hover {
    outline-color: orange;
}

.foot-notes {
    margin: 0;
}

.head-notes {
    margin-top: -12px;
    font-weight: 200;
}

p, h6 {
    font-family: 'Courier Prime';
    white-space: pre-wrap;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

h6 {
    font-weight: 200;
}

#f-one:hover, #f-two:hover, #f-three:hover, #f-four:hover {
    color:#6d92a7;
}

hr {
    border-color: #6d92a7;
}

/* FADE IN KEY FRAMES */
@keyframes fadeIn {
    0% { opacity: 0;}

    100% { opacity: 1;}
}

.fade-in {
    animation: fadeIn 3.5s;
}

a {
    text-decoration: none;
    color: black;
}


.rainbow-text {
    animation: color-change 5s infinite alternate;
}
@keyframes color-change {
    0% {
        color: red;
    }

    25%{
        color: blue;
    }

    50% {
        color: green;
    }

    100% {
        color: orange;
    }
}

.rainbow-background {
    animation: color-background-change 10s infinite alternate;
}
@keyframes color-background-change {
    0% {
        background-color: rgb(255, 241, 241);
    }

    25%{
        background-color: rgb(241, 241, 255);
    }

    50% {
        background-color: rgb(239, 255, 239);
    }

    75% {
        background-color: rgb(253, 247, 235);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

.video-frame {
    background-color: white;
    outline: 1px dashed black;
    width: 90%;
    height: 20px;
    line-height: 20px;
    margin: auto;
}

.video-frame:hover {
    background-color: rgb(60, 60, 60);
}

.video-text {
    color: black;
    margin-top: 0;

}

.video-text:hover {
    color: white;
}

.interlude {
    margin-top: 5%;
    padding-top: 36px;
    padding-bottom: 36px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-width: 100%;
}

.video-playing {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
