img {
    display: block;
    max-width: 90%;
    max-height: 90vh;
    padding-bottom: 5%;
    margin: auto;
}

p {
    font-family: Helvetica, sans-serif;
    white-space: pre-wrap;
    text-align: center;
}
